/* Assignment preview */
.assignments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.assignment-card {
    border: none;
    border-radius: 20px;
    padding: 30px;
    font-family: 'SF UI Text', sans-serif;
    background: white;
    margin: 20px;
    text-decoration: none;
    color: black;
}
.assignment-card:hover {
    text-decoration: none;
    color: black;
    background-color: rgb(191, 199, 235);
}
.assignment-card .card-title {
    font-size: 28px;
    color: black;
    font-weight: bold;
    line-height: 1.5;
    padding-right: 20px;
}
.assignment-card .assignment-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.assignment-card .subject-badge {
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(158, 171, 230);
    margin-bottom: 0;
}
.assignment-card .assignment-deadline {
    text-align: right;
    width: 50%;
    height: min-content;
    margin-bottom: 0;
}

/* Responsive */
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 720px) {
}
@media screen and (max-width: 500px) {
    .assignment-card .card-title {
        font-size: 20px;
    }
    .assignment-card .assignment-info {
        flex-direction: column;
    }
    .assignment-card .assignment-deadline {
        width: 100%;
        text-align: left;
        margin-top: 20px;
    }
}