/* HOMEPAGE */

.homepage-tcr {
	width: 100%;
	height: 100vh;
	min-height: 625px;
	font-family: 'Roboto', sans-serif;
	display: flex;
}
/* homepage-tcr: left side */
.homepage-tcr .left-container {
	background: #2B9264;
	top: 0px;
	left: 0px;
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../images/bg-Ilustration.png');
	background-repeat: no-repeat;
 	background-size: auto 100%;
}
.homepage-tcr .left-container .logo {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	color: #fff;
	display: flex;
	flex-direction: row;
	margin-top: 4.4vh;
	width: 70%;
}
.homepage-tcr .left-container .logo p {
	margin-left: 12px;
}	
.homepage-tcr .left-container .logo img {
	margin-top: 1px;
	user-select: none;
}	
.homepage-tcr .left-container .greetings-container {
	width: 70%;
	margin-top: 16vh;
	margin-bottom: 2.5%;
	color: #FFFFFF;

	font-style: normal;
	font-weight: 500;
	font-size: 30px;
}
.homepage-tcr .left-container .greetings-container #spanName {
	opacity: 0;
	transition: all 0.15s;
}
.homepage-tcr .left-container .calendar-container {
	width: 70%;
	margin-top: 40vh;
	display: flex;
	flex-direction: row;
}
.homepage-tcr .left-container .calendar-container img {
	user-select: none;
}	
.homepage-tcr .left-container .calendar-container p {
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	padding-left: 11px;
	padding-top: 1px;
}
/* homepage-tcr: right side */ 
.homepage-tcr .right-container {
	width: 70%;
	background: #FBF7F6;
	height: 100%;
}
.homepage-tcr .right-container .groups-container {
	width: 60%;
	margin-left: 10%;
	margin-top: 10%;
	height: 200px;
	color: #282829;
	font-weight: 500;
	font-size: 24px;
}
.homepage-tcr .right-container .groups-container .groups {
	margin-top: 42px;
	width: 100%;
	display: grid;
	grid-template-columns: 310px 310px;
	grid-gap: 36px 45px;
	position: relative;
}
.homepage-tcr .right-container .groups-container .groups .group {
	background: white;
	width: 310px;
	height: 125px;
	border-radius: 7px;
	border: 1px solid #F0F0F0;
	border-bottom: none;
	cursor: pointer;
	z-index: 2;
	position: relative;
	top: 0px;
	transition: all 0.2s ease;
}
.homepage-tcr .right-container .group:after {
	user-select: none;
	content: " ";
	width: 310px;
	background: transparent url('../images/Subtract.png') no-repeat;
	background-size: 100% auto;
  	position: absolute;
  	top: 110px;
  	left: 0px;
  	right: 0px;
  	bottom: 0px;
}	
/* https://codepen.io/sosuke/pen/Pjoqqp */
.homepage-tcr .right-container .group:nth-child(1):after,
.homepage-tcr .right-container .group:nth-child(1) .substract {
	filter: invert(28%) sepia(45%) saturate(1316%) hue-rotate(209deg) brightness(97%) contrast(89%);
}	
.homepage-tcr .right-container .group:nth-child(2):after,
.homepage-tcr .right-container .group:nth-child(2) .substract {
	filter: invert(47%) sepia(35%) saturate(1617%) hue-rotate(322deg) brightness(96%) contrast(102%);
}	
.homepage-tcr .right-container .group:nth-child(3):after,
.homepage-tcr .right-container .group:nth-child(3) .substract {
	filter: invert(45%) sepia(83%) saturate(1362%) hue-rotate(346deg) brightness(97%) contrast(90%);
}	
.homepage-tcr .right-container .group .substract {
	position: absolute;
	top: 110px;
	left: 0px;
	z-index: 100;
	transition: all 0.2s ease;
	user-select: none;
}
.homepage-tcr .right-container .groups-container .groups .group .header {
	color: #282829;
	font-weight: medium;
	font-size: 24px;
	padding-top: 29px;
	padding-left: 29px;
}	
.homepage-tcr .right-container .groups-container .groups .group .smaller {
	color: #909090;
	font-weight: normal;
	font-size: 16px;
	padding-top: 7px;
	padding-left: 29px;
}
.homepage-tcr .right-container .groups-container .groups .group .chevron {	
	position: absolute;
	top: calc(50% - 13.5px);
	right: 27.5px;
	user-select: none;
}
.homepage-tcr .right-container .groups-container .groups .group:hover {
	top: -3px;
}
.homepage-tcr .right-container .groups-container .groups .group:hover .substract {
	margin-top: 3px;
}
.homepage-tcr .right-container .groups-container .groups .group:active {
	top: 0px;
}
.homepage-tcr .right-container .groups-container .groups .group:active .substract {
	margin-top: 0px;
}

/* Download or upload */
.homepage-tcr #overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.55);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s, background 0.15s;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-tcr .popup {
  display: block;
  background: #fff;
  border-radius: 6px;
  width: 50%;
  height: 55%;
  position: relative;
  border: 1px solid white;
  box-sizing: border-box;
  transform: scale(0.85);
  opacity: 1;
  transition: transform 0.25s ease, opacity 0.26s;
}
.homepage-tcr .popup .header {
	width: 100%;
	height: 14px;
	padding: 21px 0px; /* top left */
	border-bottom: 1px solid #E5E5E5;
}
.homepage-tcr .popup .header p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  color: #282829;
  font-family: 'Roboto', sans-serif;
  margin-left: 30px;
}
.homepage-tcr .popup .header .close-modal-icon {
  position: absolute;
  top: 17.5px;
  right: 31px;
  font-size: 24px;
  font-weight: bold;
  color: #282829;
  cursor: pointer;
  user-select: none;
}
.homepage-tcr .popup .header #close-modal {
	position: absolute;
  	top: 17.5px;
  	right: 31px;
  	height: 24px;
  	width: 24px;
  	background: none;
  	cursor: pointer;
}	
.homepage-tcr .popup .dropzone-container {
  height: calc(100% - 142px);
  border-bottom: 1px solid #E5E5E5;
}
.homepage-tcr .popup .footer #upload-btn p {
	opacity: 0.55;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.02em;
	transition: all 0.2s;
}
.homepage-tcr .popup .footer #download {
	margin-left: -1px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 33px;
	height: 46px;
	background: none;
	border-radius: 5px;
	transition: background 0.25s;
	color: #6c6c6c;
	cursor: pointer;
}
.homepage-tcr .popup .footer #download p {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.02em;
	transition: all 0.2s;
	text-decoration: underline;
}

/* OLD LANDING */
.landing {
	width: 100%;
	height: 100vh;
	min-height: 649px;
	font-family: 'Roboto', sans-serif;
	display: flex;
	background: #fff;
	color: #212121;
	position: relative;
}
.landing .logo {
	font-family: 'Gilroy', sans-serif;
	top: 29px;
	left: 40px;
	display: flex;
	position: absolute;
	cursor: pointer;
	transition: all 0.2s ease;
}
.landing .logo img {
	height: 31px;
	width: 31px;
	padding-top: 3px;
	transition: all 0.2s ease;
}
.landing .logo p {
	font-size: 22px;
	font-weight: 700;
	color: #333333;
	padding-left: 9px;
	transition: all 0.2s ease;
}
.landing .link {
	top: 31px;
	right: 44px;
	display: flex;
	position: absolute;
	cursor: pointer;
}
.landing .link img {
	height: 23px;
	width: 23px;
	transition: all 0.2s ease;
	z-index: 2;
}
.landing .link div {
	height: 14px;
	width: 14px;
	position: absolute;
	top: -2px;
	right: -3px;
	background: rgba(64, 157, 116, 0.9);
	border-radius: 2px 8px 2px 2px;
	z-index: 1;
	transition: all 0.15s ease;
}
.landing .wip {
	font-size: 17px;
	color: rgba(0, 0, 0, 0.29);
	position: absolute;
	left: 49px;
	bottom: 45px;
	pointer-events: none;
}	
.landing .left-container {
	float: left;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}
.landing .left-container .container {
	width: 55%;
	transition: width 0.25s ease;
}
.landing .left-container .tagline {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 39px;
	width: 100%;
	transition: all 0.25s ease;
}
.landing .left-container .text-container {
	margin-top: 26px;
	display: grid;
	grid-template-columns: 70px 1fr;
	grid-gap: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
}
.landing .left-container .tips p {
	font-weight: 500;
	padding: 8px 0;
	cursor: pointer;
	transition: color 0.3s;
	color: #212121;
	letter-spacing: -0.01em;
}	
.landing .left-container .tips p:nth-child(2) {
	margin-top: 5px;
	color: #A3A3A3;
}
.landing .left-container .text {
	padding-top: 8px;
	max-width: 350px;
	height: 155px;
	position: relative;
}
.landing .left-container .text p {
	position: absolute;
	transition: opacity 0.35s;
}
.landing .left-container .text #solution {
	pointer-events: none;
	opacity: 0;
}	
.landing .left-container .buttonA {
	margin-top: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55%;
	min-width: 261px;
	height: 55px;
	background: #2B9264;
	border-radius: 2px;
	transition: background 0.25s;
	user-select: none;
	color: #fff;
	cursor: pointer;
	position: relative;
	box-shadow: 0px 6px 5px rgba(232, 230, 230, 0.9);
}	
.landing .left-container .buttonA p {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.01em;
	transition: all 0.2s;
}
.landing .left-container #buttonA {
	margin-top: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55%;
	min-width: 261px;
	height: 55px;
	background: #2B9264;
	border-radius: 2px;
	transition: background 0.25s;
	user-select: none;
	color: #fff;
	cursor: pointer;
	position: relative;
	box-shadow: 0px 6px 5px rgba(232, 230, 230, 0.9);
}	
.landing .left-container #buttonA p {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.01em;
	transition: all 0.2s;
}
.landing .left-container .text-tip {
	font-family: 'Roboto', sans-serif;
	margin-top: 19px;
	font-style: italic;
	font-size: 14px;
	color: #878787;
}
.landing .left-container .buttonA:hover {
	background: #258A5D !important;
}	
.landing .right-container {
	float: right; 
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 50%;
}
.landing .right-container .hero-image {
	width: 80%;
}
.landing .right-container .hero-image .img {
	margin-top: -15px;
	width: 100%;
	height: 600px;
	background-image: url('../images/Desktop - 2 eng.png');
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 1px;
	background-color: #F3EDED;
	box-shadow: -25px 25px 0px 0px #F3EDED, 0px 25px 0px 0px #F3EDED;
	transition: all 0.2s ease;
}
.landing .lang-container {
	position: absolute;
	right: 48px;
	bottom: 44px;
	transition: all 0.2s ease;
}
.landing .custom-select-trigger {
  background-color: rgba(0, 0, 0, 0.37);
  color: #F5F5F5;
}
.landing .custom-select-trigger:hover {
  background-color: rgba(0, 0, 0, 0.44);
}
.landing .custom-options {
  background: #EFEFEF;
}
@media screen and (max-width: 1619px) {
.landing .left-container .text {
	height: 165px;
}
.landing .left-container .tagline {
	font-size: 36px;
}	
}
@media screen and (max-width: 1480px) {
.landing .wip {
	font-size: 16px;
}
.landing .left-container .text {
	height: 175px;
}
.landing .left-container .tagline {
	font-size: 31px;
}
.landing .left-container .text-container {
	font-size: 16px;
}		
}
@media screen and (max-width: 1319px) {
.landing .left-container .text {
	height: 140px;
}
.landing .left-container .container {
	width: 70%;
}
}
@media screen and (max-width: 1209px) {
.landing .left-container .text {
	height: 160px;
}
.landing .right-container .hero-image .img {
	background-size: auto 100%;
	height: 450px;
	box-shadow: -20px 20px 0px 0px #F3EDED, 0px 20px 0px 0px #F3EDED;
}	
}
@media screen and (max-width: 1099px) {
.landing .left-container .text {
	height: 150px;
}
.landing .left-container .container {
	width: 77%;
}	
}
@media screen and (max-width: 1009px) {
.landing .left-container .text {
	height: 170px;
}	
}
@media screen and (max-width: 930px) {
.landing .link {
	top: 21px;
	right: 36px;
}
.landing .link img {
	height: 20px;
	width: 20px;
}
.landing .link div {
	height: 12px;
	width: 12px;
}
.landing .logo {
	top: 19px;
	left: 30px;
}
.landing .logo p {
	font-size: 18px;
}
.landing .logo img {
	height: 21px;
	width: 21px;
	padding-top: 4px;
}
.landing .left-container .text {
	height: 135px;
}
.landing .left-container .text-container {
	margin-top: 26px;
	display: block;
}
.landing .left-container .tips {
	display: flex;
}
.landing .left-container .tips p {
	padding: 8px 8px;
}
.landing .left-container .tips p:nth-child(1) {
	margin-left: -8px;
}
.landing .left-container .tips p:nth-child(2) {
	margin-top: 0px;
}
.landing .link:hover img {
	margin-top: -0px;
}
.landing .link:hover div {
	margin-top: -0px;
}
.landing {
	flex-direction: column;
}
.landing .left-container {
	width: 100%;
}
.landing .left-container .container {
	width: 48%;
	padding-top: 90px;
}
.landing .right-container {
	width: 100%;
}
.landing .right-container .hero-image {
	padding-top: 80px;
	width: 60%;
}
.landing .right-container .hero-image .img {
	background-size: auto 100%;
	height: 400px;
	box-shadow: -20px 20px 0px 0px #F3EDED, 0px 20px 0px 0px #F3EDED;
}
.landing .wip {
	left: 30px;
	bottom: 30px;
}
.landing .lang-container {
	position: fixed;
	right: 30px;
	bottom: 28px;
	transition: all 0.2s ease;
}
.landing .custom-select-trigger {
  background-color: rgba(0, 0, 0, 0.48);
}
.landing .custom-select-trigger:hover {
  background-color: rgba(0, 0, 0, 0.55);
}	
}
@media screen and (max-width: 729px) {
.landing .left-container .container {
	width: 61%;
}
}
@media screen and (max-width: 569px) {
.landing .left-container .container {
	width: 67%;
}
.landing .left-container .tagline {
	font-size: 29px;
}
.landing .wip {
	opacity: 0;
}
.landing .right-container .hero-image {
	width: 80%;
}	
}
@media screen and (max-width: 489px) {
.landing .left-container .text-container {
	margin-top: 15px;
}
.landing .left-container .container {
	width: 70%;
}
.landing .left-container .tagline {
	font-size: 28px;
}
.landing .left-container .text {
	height: 150px;
}
}
@media screen and (max-width: 442px) {
.landing .left-container .container {
	width: 79%;
}
.landing .left-container .text {
	height: 140px;
}
.landing .right-container .hero-image {
	width: 84%;
}
}
@media screen and (max-width: 393px) {
.landing .left-container .tagline {
	font-size: 22px;
	letter-spacing: -0.01em;
}
.landing .left-container .text {
	height: 165px;
}
}
@media screen and (max-width: 333px) {
.landing .left-container .text {
	height: 190px;
}
}
@media screen and (max-height: 899px) {
.landing .right-container .hero-image .img {
	background-size: auto 100%;
	height: 400px;
	box-shadow: -20px 20px 0px 0px #F3EDED, 0px 20px 0px 0px #F3EDED;
}	
}