<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="google" content="notranslate">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#29a38f">
	<link rel="stylesheet" href="../static/css/main.css?v={{ version }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
	<!--<link href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" rel="stylesheet">-->
	<title>Login to Gradder</title>
</head>

<body>
	<div class="reg-log" onclick="outsideOnclick()">
		<div id="error" role="alert">
			<p>
				{{ status }}
			</p>
		</div>
		<div class="left-container">
			<div class="greetings-container">
				<img src="../static/images/logo-02.png" alt="Gradder logo" height="50" width="50">
				<h1 id="greetings">З поверненням до<br>Gradder</h1>
			</div>
			<div class="form-container">
				<form action="{{ url_for('login') }}" method="post">
					<div class="row">
						<div class="input">
							<label for="email">Поштова адреса</label>
							<input name="email" type="email" id="email" onkeyup="validateEmail('email')"
								title="example@gmail.com" required maxlength="60"
								onkeypress="return (event.charCode == 46) || (event.charCode == 13) || (event.charCode > 47 && event.charCode < 58) || (event.charCode > 63 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
							<div class="selection"></div>
							<span class="line"></span>
						</div>
					</div>
					<div class="row">
						<div class="input" style="width: 88%">
							<label for="password">Пароль</label>
							<input name="password" type="password" id="password" onfocus="passwordOnfocus()"
								onblur="pwdStatus()" title="Введіть правильний пароль" required maxlength="60"
								onkeypress="return (event.charCode == 13) || (event.charCode > 32 && event.charCode < 60) || (event.charCode > 62 && event.charCode < 123)">
							<div class="selection"></div>
							<span class="line" id="passwordLine"></span>
						</div>
						<div class="icon">
							<ion-icon name="eye-off" id="eye" onclick="eyeOnclick()"></ion-icon>
						</div>
					</div>
					<div class="confirm">
						<label for="agree">Залишатися в системі
							<input type="checkbox" id="agree" onclick="agreeOnclick()" required>
							<span class="checkmark"><img src="../static/icons/check.png" height="9.5px"></span>
						</label>
					</div>
					<button id="buttonA" type="submit">
						<p>Вхід</p>
					</button>
				</form>
				<p class=" extra">Ще не зробили аккаунт? <a href="{{ url_for('register') }}">Реєстрація</a></p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
	<script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
	<script type='text/javascript' src='../static/scripts/log.js?v={{ version }}'></script>
</body>

</html>