# Editor/OS-specific files
.vscode/
.idea
.DS_Store

# Cache files
**/__pycache__
.pytest_cache
**.pyc

# Scripts
.sh

# Virtual environments
venv
Pipfile
Pipfile.lock

# JSON tokens
gradder_cred.json

# Logs
app/logs/user_actions.log
app/logs/forms.log
**.log

# Other
.env
.coverage