{% extends "auth/base_auth.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %} Dashboard | Add Assignments {% endblock title %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Gradder</a>
        </div>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('main.profile') }}"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span>Sign
                out</a></li>
        <li class=""><a href="#"><span class="glyphicon glyphicon-envelope"></span><span class="badge">5</span><a></a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block app_content %}
<div class="login_container" style="width:100%; height:100%; display: flex; justify-content: center;">
    <div class="col-md-4" style="border: 2px solid black; margin-top: 3%; background-color: white;" >
        <div class="header">
            <h1>Add a new assignment</h1>
        </div>
        <br>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.assigned_to.label(class="form-control-label") }}
                {{ form.assigned_to(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.due_by.label(class="form-control-label") }}
                {{ form.due_by(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.subject.label(class="form-control-label") }}
                {{ form.subject(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.estimated_time.label(class="form-control-label") }}
                {{ form.estimated_time(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {{ form.content(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.files.label(class="form-control-label") }}
                {{ form.files(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-info") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}