.login_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/Banner.png');
    background-size: 100% 100%;
}
#register-container {
    align-items: flex-start;
    overflow-y: scroll;
}
#register-box {
    margin: 10vh;
}
.reg-log-box {
    text-align: center;
    width: fit-content;
}
.reg-log-box h1 {
    color: rgb(93, 118, 232);
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Gilroy', sans-serif;
    margin-bottom: 8vh;
}
.reg-log-box .form-group {
    display: flex;
    flex-direction: row;
    width: 35vw;
    margin-bottom: 3vh;
    align-items: center;
    margin-right: 2vw;
}
#register-box .form-group {
    width: 40vw;
}
.reg-log-box .form-group label {
    font-size: 1.2vw;
    margin-right: 2vw;
    text-align: right;
    width: 10vw;
}
#register-box .form-group label {
    width: 15vw;
}
.reg-log-box .form-group .form-control {
    font-family: 'SF UI Text', sans-serif;
    border-radius: 8px;
    padding: 5px;
    color: rgb(93, 118, 232);
    border: 2px solid rgb(93, 118, 232);
    font-size: 1.2vw;
    height: fit-content;
}
.reg-log-box .form-group .has-error {
    flex-flow: wrap;
}
.reg-log-box .form-group .has-error .control-label {
    width: 10vw;
}
.reg-log-box .form-group .has-error .form-control {
    width: 28vw;
}
.reg-log-box .form-group .has-error .help-block {
    width: 100%;
    text-align: right;
}
.reg-log-box .form-group .form-control:focus {
    box-shadow: none;
}
.reg-log-box .checkbox {
    margin-bottom: 5vh;
    font-size: 1vw;
    font-family: 'SF UI Text', sans-serif;
    color: slategray;
}
.reg-log-box #submit {
    font-size: 1.3vw;
    padding: 10px 15px;
    font-weight: bold;
    border: 2px solid rgb(93, 118, 232);
    color: rgb(93, 118, 232);
    background: white;
    border-radius: 18px;
}
.reg-log-box #submit:hover {
    background: rgb(93, 118, 232);
    color: white;
}
.reg-log-box .register-forgot {
    margin-top: 10vh;
    font-size: 1.1vw;
    font-family: 'SF UI Text',sans-serif;
}
.reg-log-box .register-forgot p {
    margin-bottom: 2vh;
    color: #00b0c7;
}
.reg-log-box .register-forgot a {
    color: rgb(8, 121, 136);
}
#register-container .register-forgot {
    margin-top: 5vh;
}

/* Password */
#send-request-container h1 {
    font-size: 3vw;
    margin-bottom: 5vh;
}
#send-request-container .form-group {
    margin-right: 5vw;
    margin-bottom: 5vh;
}
#send-request-container .form-group .form-control {
    border-radius: 0;
    outline: none;
    border: 0px solid white;
    box-shadow: none;
    border-bottom: 3px solid black;
    font-size: 1.2vw;
}
#send-request-container #submit {
    font-size: 1.1vw;
}
#send-request-container .register-forgot {
    margin-top: 5vh;
    font-size: 1.2vw;
    font-weight: bold;
}