.careers {
	font-family: 'SF UI Text', sans-serif;
	display: flex;
	height: 100vh;
	width: 100%;
	min-height: 649px;
	background: #fff;
}

/* careers: Left side */
.careers .left-container {
	background: #FFFFFF;
	width: 50%;
	min-width: 400px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.careers .left-container .hero-text {
	font-family: 'SF UI Text', sans-serif;
	margin-top: 21%;
	width: 60%;
	max-width: 420px;
	transition: width 0.25s ease;
}
.careers .left-container .hero-text p {
	font-size: 18px;
	font-weight: 600;
	color: #5C77FF;
}
.careers .left-container .hero-text h3 {
	font-weight: 600;
	font-size: 30px; /* 26px */
	line-height: 31px;
	color: #333333;
	margin-top: 5px;
	transition: font-size 0.25s ease;
}
.careers .left-container .form-container {
	display: flex;
	flex-direction: column;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 34px;
	position: relative;
	transition: all 0.3s ease;
	width: 60%;
	max-width: 420px;
	color: #212121;
	margin-top: 40px;
}


/* careers: right container */
.careers .right-container {
	float: right;
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 50%;
}
.careers .right-container .hero-image {
	height: 100%;
	width: 100%;
	background-image: url('../images/lockers3.jpg');
	background-position: top right;
	background-size: cover;
	background-repeat: repeat;
	float: left;
}
.careers .right-container .hero-image p {
	color: white;
	margin-top: 80px;
	font-family: 'SF UI Text', sans-serif;
	font-weight: 600;
	font-size: 23px;
	display: none;
}
.careers .right-container .credits p {
	color: #F2F2F2;
}
.careers .right-container .credits a {
	color: #F2F2F2;
	text-decoration: underline;
	cursor: pointer;
}

/* Custom dropdown */
.custom-select {
  position: relative;
  font-size: 16px;
}
.custom-select select {
  display: none;
}
.select-selected {
  background-color: #fff;
  color: #5F6368 !important;
  border-bottom: 2px solid #D5D7DA;
  padding: 5px 10px !important;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #212121 transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #212121 transparent;
  top: 7px;
}
.select-items div,.select-selected {
  color: #909090;
  padding: 7px 16px;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s;
}
.select-items div:first-child {
	padding-top: 19px;
}	
.select-items div:last-child {
	padding-bottom: 19px;
}
.select-items {
  position: absolute;
  background-color: #F9F9F9;
  top: calc(100% - 2px);
  left: 0;
  right: 0;
  z-index: 200;
}
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  color: #212121;
}

@media screen and (max-width: 960px) {
.careers {
	flex-direction: column;
}	
.careers .right-container {
	display: none;
}
.careers .left-container {
	width: 100%;
	display: flex;
 	align-items: center;
  	flex-direction: column;
}
.careers .left-container .hero-text {
	margin-top: 6%;
}

}	

@media screen and (max-width: 699px) {
.careers .left-container .hero-text p {
 	font-size: 16px;
}
.careers .left-container .hero-text h3 {
 	font-size: 25px;
}
}
@media screen and (max-width: 421px) {
.form-container .input {
   	height: 53px;
   	font-size: 15px;
}
.form-container .row input {
   	padding-top: 19px;
}
.form-container #buttonA {
	width: 65%;
}	
.form-container #buttonA p {
	letter-spacing: 0;
}
.form-container .row .input label {
	top: 9px;
	left: 8px;
	font-size: 15px;
}
.form-container .textarea textarea::placeholder {
	font-size: 15px;
}
.custom-select {
  font-size: 15px;
}

.careers .left-container {
	min-width: 300px;
}
.careers .left-container .form-container {
	width: 84%;
}
.careers .left-container .hero-text {
	margin-top: 12%;
	width: 85%;
}

}

#btn_upload {
	float:left;
	overflow: hidden;
	background: none;
	border: 2px solid #e6e6ef;
}

#btn_upload p{
	color: #818385;
}

#btn_next {
	pointer-events: none;
	float:right;
	overflow: hidden;
}

#btn_upload input[type=file] {
	cursor: pointer !important;
	height:46px;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	opacity:0;
	z-index:200;
}

#btn_next input{
	cursor: pointer !important;
	height:46px;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	opacity:0;
	z-index:200;
}

.select-items {
	height: 155px;
	overflow-y: auto;
}