/* Left sidebar */
.dash-sidebar {
    position: absolute;
    top: -30px;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    padding-right: 4vw;
    height: 100vh;
    width: 230px;
    background-color: rgb(102,130,252);
}

/* Sidebar top */
.sidebar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .3s ease-in-out;
}
.sidebar-logo img {
    width: 28px;
    margin: 0 10px;
}
.sidebar-logo h4 {
    font-family: 'Gilroy', sans-serif;
    color: white;
    margin-top: 8px;
}
.sidebar-logo:hover {
    text-decoration: none;
    transform: translate(0, -5px);
}
.dash-profile {
    margin-bottom: 30px;
}
.profile-pic {
    width: 120px;
    height: 120px;
    border: 5px solid rgb(93, 118, 232);
    background: whitesmoke;
    border-radius: 30px;
}
.dash-profile h4 {
    margin: 15px 5px;
    color: white;
    font-size: 30px;
}

/* Sidebar navigation */
#sidebar-nav .nav-link {
    font-family: 'SF UI Text', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 8px;
    margin-left: -20px;
    padding-left: 30px;
    width: 200px;
}
#sidebar-nav .active, #sidebar-nav .nav-link:hover {
    background: rgb(93, 118, 232);
    border-radius: 0 50px 50px 0;
}

/* Sidebar bottom */
.navbar-bottom {
    position: absolute;
    bottom: 3vh;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-bottom i {
    font-size: 30px;
    color: white;
}
.navbar-bottom a {
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}
.navbar-bottom a:hover, .navbar-bottom a:active {
    background: rgb(93, 118, 232);
}

/* Dashboard content */
.dash-content {
    margin-left: 230px;
    padding: 30px 50px;
    height: 100vh;
    width: 84vw;
    background: whitesmoke;
    z-index: 100;
    overflow-y: scroll;
}
.jumbotron {
    border-radius: 20px;
    padding: 40px;
    background: white;
}
.jumbotron h1 {
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
}

/* Students */
#student-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#student-overview .jumbotron {
    flex: 1 0 40%;
    margin: 25px;
    padding: 30px;
    min-width: 400px;
}
#student-overview .jumbotron h4 {
    font-size: 28px;
    font-weight: 600;
}

/* Teachers */
#teacher-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#teacher-overview .jumbotron {
    flex: 1 0 40%;
    margin: 25px;
    padding: 30px;
    min-width: 400px;
}
#teacher-overview .jumbotron h4 {
    font-size: 28px;
    font-weight: 600;
}