/* .new-landing */
.new-landing {
    font-family: 'SF UI Text', sans-serif;
	background: #fff;
	color: #212121;
}
#top {
    display: flex;
    flex-direction: column;
	width: 100%;
	height: 100vh;
	min-height: 649px;
	position: relative;
}
@keyframes leftFade {
    from { opacity: 0 }
    to {opacity: 1 }
}
/* Left text panel */
.new-landing .left-container {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 100%;
    width: 45%;
    animation: leftFade 2s ease;
}
.new-landing .left-container .hero-text {
	font-family: 'SF UI Text', sans-serif;
	margin-left: 20%;
    transition: width 0.25s ease;
    z-index: 100;
}
.new-landing .left-container .hero-text p {
	font-size: 20px;
	font-weight: 600;
    color: #5C77FF;
    z-index: 100;
}
.new-landing .left-container .hero-text h1 {
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	color: #212121;
	font-size: 72px; /* 77px */
	margin-top: 1.2vw;
    transition: font-size 0.25s ease;
    z-index: 100;
}
.new-landing .left-container .hero-text h3 {
    width: 30vw;
	font-weight: 600;
	font-size: 22px; /* 26px */
	line-height: 25px;
	color: #333333;
	margin-top: 2vw;
    transition: font-size 0.25s ease;
    z-index: 100;
}
/* Contribute button */
#contribute-button {
    width: 13vw;
    text-decoration: none;
    cursor: default;
}
.new-landing .hero-text .button {
	margin-top: 10%;
	cursor: pointer;
	background: rgb(136, 223, 249);
	border-radius: 40px;
	width: 13vw;
	height: 3.5vw;

	font-family: 'SF UI Text', sans-serif;
	font-weight: 600;
	font-size: 1.3vw;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
    transition: all 0.3s ease;
    z-index: 100;
}
.new-landing .hero-text .button:hover {
	transform: translate(0px, -5px);
    box-shadow: 7px 6px 26px rgba(0, 0, 0, 0.2);
    background: rgb(98, 184, 208);
}
.new-landing .hero-text .button:active {
	transform: translate(0px, 0px);
    box-shadow: 7px 6px 26px rgba(0, 0, 0, 0.1);
    background: rgb(98, 184, 208);
}	
/* Carousel controls */
.carousel-indicators {
    position: relative;
    top: 7vh;
    display: flex;
    justify-content: flex-start;
    margin-left: 18%;
    list-style: none;
    z-index: 100;
    animation: 6s fadeIn ease;
}
.carousel-indicators li {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    border-radius: 50%;
    background-color: rgb(193,241,255);
}
.carousel-indicators .active, .carousel-indicators li:hover {
    cursor: pointer;
    background: rgb(108,204,230);
    transition: background 0.5s ease-in-out;
}
/* Right image panel */
.new-landing .right-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.new-landing .right-container .hero-image p {
	color: white;
	margin-top: 80px;
	font-family: 'SF UI Text', sans-serif;
	font-weight: 600;
	font-size: 23px;
	display: none;
}
.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.new-landing .right-container .hero-image {
    height: 98%;
    width: 100%;
	background-size: contain;
	background-position: top right;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0;
    transition: 2s opacity;
}
.new-landing .right-container .hero-image-active {
    height: 98%;
    width: 100%;
	background-size: contain;
	background-position: top right;
    background-repeat: no-repeat;
    z-index: 0;
    transition: 3s opacity;
}
#slide1 {
    background-image: url('../images/Right Image.png');
    height: 98%;
}
#slide2 {
    background-image: url('../images/Right Image 2.png');
}
#slide3 {
    background-image: url('../images/Right Image 3.png');
}
/* Video */
.system-preview {
    float: right;
    display: flex;
    width: 68vh;
    height: 90vh;
    align-items: center;
    margin-right: 5vw;
}

#vid {
    padding: 10px;
    border: 2px dashed white;
}
/* Starting animation */
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeIn {
  0%, 95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.zoom-box {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}
#zoom {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -10;
}
.book {
    background-image: url('../images/book.png');
    height: 98%;
    width: 100%;
	background-size: contain;
	background-position: top right;
    background-repeat: no-repeat;
    animation: slide-in-bottom 10s ease-out both;
}
#startZoom {
    animation: 2s fadeIn ease;
}
/* Morphing blobs */
.blob-backgrounds {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    opacity: 0;
    transition: 2s opacity;
}
.blob-backgrounds svg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 0;
}

/* Responsive */
@media screen and (max-height: 600px) {
    .blob-backgrounds, .zoom-box {
        min-height: 649px;
    }
    #slide1, #slide2, #slide3 {
        min-height: 636px;
    }
}
@media screen and (max-width: 1240px) {
	.new-landing .left-container .hero-text {
		width: 390px;
	}
	.new-landing .left-container .hero-text h1 { 
		font-size: 60px;
	}
	.new-landing .left-container .hero-text h3 {
		font-size: 20px;
    }
    .new-landing .right-container .hero-image, .new-landing .right-container .hero-image-active {
        position: fixed;
        left: 0;
        width: 1240px;
    }
    .blob-backgrounds {
        position: fixed;
        left: 0;
        width: 1240px;
    }
    .zoom-box {
        position: fixed;
        left: 0;
        width: 1240px;
    }
    .book {
        width: 1240px;
    }

/* TODO: MOBILE VIEW

@media screen and (max-width: 960px) {
	.new-landing {
		flex-direction: column;
		border-radius: 0px;
	}	
	.new-landing .left-container {
		width: 100%;
		display: flex;
 		align-items: center;
  		flex-direction: column;
	}
	.new-landing .right-container {
		width: 100%;
		margin-top: 6%;
		text-align: center;
		height: 590px;
	}
	.new-landing .right-container .hero-image {
		background-color: #72C791;
		background-image: url('../images/overview.png'), url('../images/Waves.png');
		background-size: auto 80%, auto 150%;
		background-position: 50% 160%, top right;
	}
	.new-landing .right-container .hero-image p {
		display: block;
	}
	.new-landing .right-container .hero-image img {
		width: 80%;
		border-radius: 14px;
		margin-top: 82px;
		transform: rotate(6.25deg);
	}
	.new-landing .left-container .hero-text {
		margin-top: 7%;
		text-align: center;
		margin-left: 0%;
	}
	.new-landing .left-container .hero-text p {
		display: none;
	}
	.new-landing .hero-text .button {
		width: 94%;
		margin-left: 3%;
	}
}
@media screen and (max-width: 530px) {
	.new-landing .left-container .hero-text {
		width: 290px;
	}
	.new-landing .left-container .hero-text h1 { 
		font-size: 48px;
	}
	.new-landing .left-container .hero-text h3 {
		font-size: 18px;
	}
	.new-landing .right-container .hero-image p {
		font-size: 21px;
	}
	.new-landing .right-container .hero-image {
		background-size: auto 75%, auto 150%;
	}
	.new-landing .right-container {
		height: 400px;
		margin-top: 75px;
	}
	.new-landing .left-container .button {
		height: 50px;
		border-radius: 12px;
	}
}	
@media screen and (max-width: 470px) {
	.new-landing .left-container .hero-text {
		width: 290px;
	}
	.new-landing .left-container .hero-text h1 { 
		font-size: 48px;
	}
	.new-landing .left-container .hero-text h3 {
		font-size: 18px;
	}
	.new-landing .right-container .hero-image p {
		font-size: 21px;
	}
	.new-landing .right-container .hero-image {
		background-size: auto 75%, auto 150%;
	}
	.new-landing .right-container {
		height: 400px;
		margin-top: 70px;
	}
}	
*/