/* Responsive */
.right-container-mobile, #why-mobile, .video-mobile, #say-mobile, #mission-mobile, #roadmap-mobile, #team-mobile {
    display: none;
}

@media screen and (max-height: 600px) {
    .section {
        height: 600px;
    }
    .mission-statement h2 {
        font-size: 22px;
    }
    .mission-statement h3 {
        font-size: 18px;
    }
}
@media screen and (max-width: 1240px) {
    .timeline {
        top: 5.8vw;
    }
}
@media screen and (max-width: 1080px) {
    .timeline {
        top: 7vw;
    }
}
@media screen and (max-width: 930px) {
    .timeline {
        top: 8.8vw;
    }
}
/* MOBILE VIEWS */
@media screen and (max-width: 530px) {
    /* General components */
    .nav-bar, #scrollspy-nav, .right-container, #why, #say, #mission, #roadmap, #team {
        display: none;
    }
    .section-content h1 {
        font-size: 40px;
        margin-top: 12vh;
        font-family: 'Gilroy', sans-serif;
        font-weight: bold;
    }
    .mission-statement {
        padding-right: 5vw;
    }
    .mission-statement h2 {
        font-size: 24px;
    }
    .mission-statement h3 {
        font-size: 20px;
    }
    body {
        overflow-x: hidden;
    }
    .new-landing {
        display: flex;
        flex-direction: column;
    }
    /* Top section */
    #top {
        height: fit-content;
    }
    .section {
        flex-direction: column;
    }
    .right-container-mobile{
        display: block;
        width: 100vw;
        height: 40vh;
    }
    .right-container-mobile #slide1-mobile {
        height: 100%;
        background-image: url('../images/Right Image.png');
        background-size: contain;
        background-position: top right;
        background-repeat: no-repeat;
        z-index: 0;
    }
    .carousel-slide-mobile {
        width: 100%;
        height: 100%;
    }
    .change-slide {
        display: none;
    }
    .left-container {
        width: 100vw !important;
    }
    .left-container .hero-text {
        margin-left: 0 !important;
        text-align: center;
        width: 80vw !important;
    }
    .left-container .hero-text h1 {
        font-size: 50px !important;
        font-weight: bold;
    }
    .left-container .hero-text h3 {
        width: 80vw !important;
        margin-top: 20px !important;
    }
    .new-landing form {
        flex-direction: column;
    }
    .new-landing #email {
        width: 100%;
    }
    .new-landing #email-submit {
        margin: 20px auto;
        width: 50%;
    }
    /* Video */
    .video-mobile {
        margin-top: 5vh;
        width: 100vw;
        height: 50vh;
        display: block;
        background-image: url("../images/Video\ Background.png");
        background-size: 100% 130%;
        background-repeat: no-repeat;
    }
    .system-preview {
        margin-top: 15vh;
        width: 90%;
        height: 15vh;
    }
    #vid {
        border: none;
    }
    /* Reasons */
    #why-mobile {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: fit-content;
    }
    .why-mobile-header {
        height: 30vh;
        background-image: url("../images/Mockup\ Background.png");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: -10vh;
        padding-top: 8vh;
    }
    .why-mobile-header h1 {
        font-family: 'Gilroy', sans-serif;
        font-weight: bold;
        margin-left: 10vw;
        width: 25vw;
        font-size: 11vw;
        background-image: url("../images/Green\ Line.png");
        background-size: 100%;
        background-position: top left;
        background-repeat: no-repeat;
        padding-top: 4vh;
    }
    .reason-mobile {
        text-align: center;
        width: 85%;
        margin: 0 auto;
        margin-top: 3vh;
    }
    .reason-mobile h3 {
        color: rgb(82, 189, 129);
        margin-bottom: 0;
    }
    .reason-mobile img {
        width: 20vw;
    }
    .reason-list-mobile {
        background-image: url("../images/Why\ Us\ Background.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 20vh;
        margin-top: -5vh;
        padding: 5vh 5vw;
        font-size: 3vw;
    }
    /* What People Say */
    #say-mobile {
        display: flex;
        flex-direction: column;
        height: 120vw;
    }
    .say-mobile-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: right;
        margin-right: 10vw;
        font-family: 'Gilroy', sans-serif;
        font-weight: bold;
    }
    .say-mobile-header h1 {
        font-family: 'Gilroy', sans-serif;
        font-weight: bold;
    }
    .say-mobile-header img {
        width: 40%;
    }
    #comments-mobile-carousel {
        margin-bottom: 10vh;
    }
    #comments-mobile-carousel .carousel-inner {
        height: 40vh;
    }
    #comments-mobile-carousel .carousel-item {
        display: flex;
        flex-direction: row;
        width: 95%;
        height: fit-content;
        text-align: center;
        background-image: url("../images/User\ Reviews.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 30px;
        align-items: center;
        background-position: center;
        margin-left: 3vw;
        display: none;
    }
    #comments-mobile-carousel .active {
        display: flex;
    }
    #comments-mobile-carousel img {
        border-radius: 50%;
        height: 25vw;
        width: 25vw;
    }
    #comments-mobile-carousel .commenter {
        color: rgb(82, 189, 129);
    }
    .comment-mobile {
        font-size: 3vw;
        margin-left: 5vw;
        margin-top: 10px;
    }
    #comments-mobile-carousel .carousel-indicators {
        top: 50vw;
        height: fit-content;
    }
    #comments-mobile-carousel .carousel-indicators li {
        width: 15px;
        height: 15px;
        margin-left: 15px;
        padding: 0;
        border: none;
        border-radius: 50%;
        background-color: #c1f1ff;
    }
    #comments-mobile-carousel .carousel-indicators .active, #comments-mobile-carousel .carousel-indicators li:hover {
        cursor: pointer;
        background: #6ccce6;
    }
    /* Mission */
    #mission-mobile {
        display: flex;
        flex-direction: column;
        height: fit-content;
        background-image: url("../images/Mission\ Statement\ Background.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #mission-mobile #left-banner {
        top: 600vw;
        width: 30%;
        left: 0;
    }
    #mission-mobile #right-banner {
        position: relative;
        width: 30%;
        margin-left: 70vw;
        margin-top: -10vw;
    }
    #mission-mobile #mission-face {
        width: 40vw;
        height: 40vw;
        padding: 0;
        border: none;
        margin: 0 auto;
        margin-top: -85vw;
    }
    #mission-mobile h1 {
        font-family: 'Gilroy', sans-serif;
        font-weight: bold;
        margin: 10vw 0 3vh 5vw;
    }
    .mission-mobile-statement {
        font-size: 4vw;
        width: 65%;
        font-weight: 200;
        font-family: 'SF UI Text', sans-serif;
        margin-left: 5vw;
    }
    .mission-mobile-serhii {
        font-size: 4vw;
        font-weight: bolder;
        font-family: 'Gilroy',sans-serif;
        margin-left: 5vw;
        margin-top: 10px;
        margin-bottom: 7vh;
        color: rgb(82, 189, 129);
    }
    /* Roadmap */
    #roadmap-mobile {
        display: flex;
        flex-direction: column;
        height: 240vw;
    }
    .roadmap-mobile-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'Gilroy', sans-serif;
        font-weight: bold;
    }
    .roadmap-mobile-header img {
        width: 30vw;
        transform:scaleX(-1);
        margin-right: 10vw;
    }
    .roadmap-mobile-header h1 {
        font-family: 'Gilroy', sans-serif;
        font-weight: bold;
    }
    #roadmap-mobile #vertical-roadmap {
        width: 150vw;
        margin-top: -15vw;
        margin-left: -25vw;
    }
    .timeline-mobile {
        width: 95%;
        height: 85vh;
        margin: 0 auto;
        margin-top: -225vw;
        font-size: 3.4vw;
    }
    .timeline-mobile table {
        width: 90%;
        table-layout: fixed;
        margin: 0 auto;
    }
    .timeline-mobile td strong {
        font-family: 'Gilroy', sans-serif;
        font-weight: 800;
    }
    #jan, #mar, #may, #jul {
        text-align: right;
        padding-right: 10vw;
        font-size: 3.4vw;
        padding-top: 5vw;
    }
    #feb, #apr, #jun, #sep {
        text-align: left;
        padding-left: 10vw;
        padding-top: 8vw;
    }
    #apr {
        padding-top: 2vw;
        font-size: 2.8vw;
    }
    #may {
        padding-top: 2vw;
    }
    #jun {
        padding-top: 3vw;
    }
    /* Mobile */
    #team-mobile {
        display: block;
        background-image: url("../images/Our\ Team\ Background.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: fit-content;
        padding-top: 2vh;
    }
    #team-mobile h1 {
        font-family: 'Gilroy', sans-serif;
        font-weight: bold;
        text-align: right;
        margin: 10vw 5vw;
    }
    .people-mobile {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-top: 5vh;
        height: 60vh;
    }
    .people-mobile img {
        width: 25vw;
        height: 25vw;
        margin-right: 5vw;
    }
    .people-mobile h3 {
        font-size: 3vw;
        color: rgb(82, 189, 129);
    }
    .people-mobile p {
        font-size: 2.5vw;
    }
    /* Footer */
    footer {
        background-size: 300% 100%;
        background-position: right;
        margin-top: -10vh;
        height: 120vh;
    }
    .footer-body {
        margin-left: 0;
        margin-top: 15vh;
        flex-direction: column;
    }
    .contact-info, .footer-nav {
        margin: 0 8vw;
    }
    .footer-nav {
        margin-top: 5vh;
        width: 100%;
    }
    footer h1 {
        font-size: 20px;
    }
    .footer-body p, .footer-body a {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .contact-info, .enquiry-form {
        width: 100%;
    }
    #enquiry-name, #enquiry-email, #enquiry-subject, #enquiry-body {
        font-size: 10px;
    }
    #enquiry-submit {
        padding: 5px 10px;
        font-size: 10px;
    }
}