/* Classes */
#classes_navbar {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 3vh;
    background-color: white;
}
#classes_navbar .active {
    font-weight: bold;
}

#classes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    min-width: 800px;
    flex-wrap: nowrap;
}
#classes-container h3 {
    font-weight: bold;
    margin-bottom: 2vh;
}

#students-container {
    margin: 0;
    padding: 30px;
    width: 58%;
    min-width: 230px;
}
#students-table thead tr {
    border-bottom: 2px solid gainsboro;
}
#students-table th, #students-container td {
    padding: 10px;
}
#class-info-container {
    margin: 0;
    padding: 30px;
    width: 40%;
    min-width: 320px;
}
#class-info-container form {
    border-top: 2px solid gainsboro;
    padding-top: 10px;
}
#class-info-container form input, #class-info-container label {
    margin: 5px 0;
}
#class-info-container form .btn, #assignment-form .btn {
    margin: 0;
    border-radius: 10px;
    background: rgb(102,130,252);
    border: none;
    margin-top: 10px;
}
#class-info-container form .btn {
    margin-top: 20px;
}
#class-info-container form .btn:hover, #assignment-form .btn:hover {
    background:rgb(93, 118, 232);
}
/* Add assignments */
#assignment-form #submit {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 20px;
}
#assignment-form .header {
    margin-top: 20px;
}
/* Choose file button */
.form-control-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
label[for=files], label[for=syllabus] {
    border: 2px solid rgb(113, 138, 250);
    color: rgb(113, 138, 250);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
label[for=files] {
    margin-top: 10px;
    font-size: 20px;
}
label[for=files]:hover, label[for=syllabus]:hover {
    border: 2px solid rgb(73, 95, 191);
    color: rgb(73, 95, 191);
}