{% extends "auth/base_auth.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Gradder | Login{% endblock %}

{% block app_content %}
<div class="login_container">
    <div class="col-md-4 reg-log-box" id="login-box">
        <h1>Login</h1>
        {{ wtf.quick_form(form) }}
        <br>
        <div class="register-forgot">
            <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
            <p>Forgot password? <a href="{{ url_for('auth.request_password_reset') }}">Click here to request password reset</a>.</p>
        </div>
    </div>
</div>
{% endblock %}