{% extends "auth/base_auth.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Gradder | Request New Password{% endblock %}

{% block app_content %}
<div class="login_container" id="send-request-container">
    <div class="col-md-4 reg-log-box" id="send-request-box">
        <h1>Request Password Reset</h1><br>
        {{ wtf.quick_form(form) }}
        <br>
        <div class="register-forgot">
            <p><a href="{{ url_for('auth.login') }}">Back to login page</a></p>
        </div>
    </div>
</div>
{% endblock %}