{% extends "_dashboard.html" %}

{% block content %}
<div class="dash-content" id="student-overview">
    <div class="jumbotron container student-grades">
        <h4>Your grades</h4>
    </div>
    <div class="jumbotron container student-homework">
        <h4>Your assignments</h4>
        {% for assgn in assignments %}
        {{ macros.assignment(assgn) }}
        {% endfor %}
    </div>
    <div class="jumbotron container student-schedule">
        <h4>Your schedule</h4>
    </div>
    <div class="jumbotron container student-statistics">
        <h4>Your statistics</h4>
    </div>
</div>
{% endblock %}