<p>Dear {{ name }},</p>
<p>Your inquiry was received by the Gradder Team. We will contact you shortly with an update on the inquiry progress. This should not take more than 3 business days.</p>
<p>
Inquiry ID: <b>{{ ID }}</b>
<br>
Subject: <b>{{ inquiry_subject }}</b>
<br>
</p>
<p>
Inquiry: 
    <blockquote>
        {{ inquiry }}
    </blockquote>
</p>
<p>
    Sincerely,<br>
    The Gradder Team
</p>
<br>
<b><small style='font-family: "Courier New", Courier, monospace;'>Note: this is an automated email. Please do not reply.</small></b>