<p>
Hello there!
</p>
<p>
This is a confirmation that you have just subscribed to monthly updates from <a href="https://gradder.io/">Gradder</a>. No further action is required.
</p>
<p>
If this wasn't you or you wish to unsubscribe, click on the following link at any time: <a href="https://gradder.io/unsubscribe/{{ ID }}">https://gradder.io/unsubscribe/{{ ID }}</a>
</p>
<p>
<b><small style='font-family: "Courier New", Courier, monospace;'>Note: this is an automated email. Please do not reply.</small></b>
</p>