{% macro field(field, label=True) %}
{% if label %}
{{ field.label }}
{% endif %}
{{ field(**kwargs) }}
{% for error in field.errors %}
{{ print(error) }}
{% endfor %}
{% endmacro %}

{% macro assignment(assgn) %}
<div class="assignment-container" style="background-color: rgb(135, 221, 109);">
    <p class="subject">Subject: <b>{{ assgn['subject'] }}</b></p>
    <p class="submit_by">Due by: <b>{{ assgn['due_by'] }}</b></p>
    <p class="estimated_time">Estimated time: <b>{{ assgn['estimated_time'] }}</b></p>
    <p class="content">Content: <b>{{ assgn['content'] }}</b></p>
</div>
{% endmacro %}