{% extends "auth/base_auth.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %} Dashboard | Add Assignments {% endblock title %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Gradder</a>
        </div>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('main.profile') }}"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span>Sign
                out</a></li>
        <li class=""><a href="#"><span class="glyphicon glyphicon-envelope"></span><span class="badge">5</span><a></a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block app_content %}
<div class="header">
    <h1>Add a new assignment</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}

</div>
{% endblock %}