{% import "_macros.html" as macros %}

<!DOCTYPE html>

<html>

<head>
    {% block head %}
    {% block metas %}
    <meta name="title" content="Gradder - Your Smart  School Diary">
    <meta name="google" content="notranslate">
    <meta name="theme-color" content="#2B9264">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock metas %}
    {% block fonts %}
    {% endblock fonts %}
    {% block styles %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/even more resized-09.png') }}"
        type="image/x-icon">
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='images/even more resized-09.png') }}"
        type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    {% endblock styles %}
    <title>{% block title %}Gradder | Your Smart School Diary{% endblock title %}</title>
    {% endblock head %}
</head>

<body>
    <div class="loader-wrapper">
        Gradder
    </div>
    <div class="nav-bar">
        {% block navbar %}
        <div class="logo">
            <img src="{{ url_for('static', filename='images/Left Image.png') }}" alt="Gradder logo">
        </div>
        <ul class="menu">
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('main.careers') }}">Careers</a></li>
            <li><a href="">About</a></li>
            <li><a href="">FAQ</a></li>
            <!-- <li><a href="{{ url_for('main.contact') }}">Contact</a></li> -->
        </ul>
        {% endblock navbar %}
    </div>
    {% block content %}
    <div class="contain">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {% block page_content %}{% endblock page_content %}
    </div>
    {% endblock content%}

    {% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-1.12.4.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/animations.js') }}"></script>

    <script>
        // Active class selection for the navbar depending on the location
        let window_url = window.location.href.split('/');
        if (window_url[window_url.length - 1] == '' || window_url[window_url.length - 1] == 'index') {
            document.getElementsByClassName('menu')[0].getElementsByTagName('a')[0].classList.add('active');
        }
        else if (window_url[window_url.length - 1] == 'careers') {
            document.getElementsByClassName('menu')[0].getElementsByTagName('a')[1].classList.add('active');
        }
    </script>

    {{ moment.include_moment() }}
    {% endblock scripts %}

</body>

</html>