<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="google" content="notranslate">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#29a38f">
    <link rel="stylesheet" href="../static/css/main.css?v={{ version }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap" rel="stylesheet">
	<!--<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">-->
	<link href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" rel="stylesheet">
	<title>Gradder | Homepage</title>
</head>
<body class="homepage-tcr">
	<div id="error">
		<p>Щось пішло не так.</p>	
	</div>
	<div id="overlay">
		<div class="popup">
		<div id="border"></div>	
			<div class="header">
				<p id="class-name">Завантаження оцінок для 6-Г класу</p>
				<div data-tooltip="Закрити" data-tooltip-location="bottom" id="close-modal"></div>
				<ion-icon name="close-outline" class="close-modal-icon"></ion-icon>
			</div>	
			<div class="dropzone-container">
				<div id="drop-area">
  					<form id="upload-form">
    						<input type="file" id="fileElem" onchange="checkFiles(this.files)" accept=".xls,.xlsx">
   	 						<div id="progress-container">
   	 							<p>Завантаження</p>
   	 							<progress id="progress-bar" max=100 value=5>
   	 								<div pseudo="-webkit-progress-inner-element">
   	 									<div pseudo="-webkit-progress-bar">
											<div pseudo="-webkit-progress-value" style="width: 80%;"></div>
   	 									</div>
   	 								</div>
   	 							</progress>
   	 							<div class="shadow-container">
   	 								<div id="progress-shadow"></div>
   	 							</div>	
   	 						</div>    						
    						<div class="icon">
    							<i class="far fa-file-excel"></i>
    						</div>
    						<p class="drag">Перетягніть файл сюди</p>
    						<p class="or">або</p>
   	 						<div class="button"><label>Оберіть файли на комп'ютері</label></div>	
  							<div id="preview">
  								<div class="elements-container">
  									<div data-tooltip="Вибрати інший файл" data-tooltip-location="right" id="close-file"></div>	
  									<ion-icon name="close-circle-outline" class="close-file-icon"></ion-icon>
  									<i class="fas fa-file-excel"></i>
  									<p id="file-name">gerard-depardieu.xsl</p>
  								</div>	
  							</div>
  					</form>
				</div>
			</div>	
			<div class="footer">
				<div id="upload-btn"><p>Завантажити таблицю</p><div class="ripples"><span class="ripplesCircle"></span></div></div>
				<a id="download" onclick="sheetsDownload()" download><p>Скачати шаблон таблиці</p></a>
			</div>
		</div>
	</div>
	<div class="left-container">
		<div class="logo">
			<img src="../static/images/logo-02-wh.png" alt="Gradder logo" height="35" width="35">
			<p>Gradder</p>
		</div>	
		<div class="greetings-container">
			<p id="greetings">Доброго ранку</p>
		</div>
		<div class="calendar-container">
			<img src="../static/icons/Calendar icon.png" alt="Calendar icon" height="19" width="17">
			<p id="calendar"></p>
		</div>	
	</div>	
	<div class="right-container">
		<div class="groups-container">
			<p>Ваші класи</p>
			<div class="groups">
				<div class="group" id="group1" onclick="modalOpen('group1')">
					<p class="header">6-Г клас</p>
					<p class="smaller">26 учнів</p>
					<img src="../static/icons/chevron-right.png" alt="Chevron right" width="12" class="chevron">
					<img src="../static/images/Subtract.png" width="310" class="substract">	
				</div>
				<div class="group" id="group2" onclick="modalOpen('group2')">
					<p class="header">9-А клас</p>
					<p class="smaller">24 учні</p>
					<img src="../static/icons/chevron-right.png" alt="Chevron right" width="12" class="chevron">
					<img src="../static/images/Subtract.png" width="310" class="substract">	
				</div>
				<div class="group" id="group3">
					<p class="header">11-В клас</p>
					<p class="smaller">29 учнів</p>
					<img src="../static/icons/chevron-right.png" alt="Chevron right" width="12" class="chevron">
					<img src="../static/images/Subtract.png" width="310" class="substract">
				</div>	
			</div>	
		</div>	
	</div>	
</body>
	<script type="text/javascript" src="../static/scripts/jquery-1.12.4.min.js?v={{ version }}"></script>
	<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
    <script type='text/javascript' src='../static/scripts/homepage.js?v={{ version }}'></script>
    <script type="text/javascript" src="../static/scripts/dropzone.js?v={{ version }}"></script>
    <link rel="stylesheet" href="../static/css/tooltip.css">
    <script type="text/javascript" src="../static/scripts/animations.js?v={{ version }}"></script>
</body>
</html>