{% extends "bootstrap/base.html" %}

{% block title %}Gradder | Profile{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Gradder</a>
        </div>
    </div>
    <ul class="nav navbar-nav">
        <li class=""><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
        <li class="active"><a href="{{ url_for('main.profile') }}"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span>Sign out</a></li>
        <li class=""><a href="#"><span class="glyphicon glyphicon-envelope"></span><span class="badge">5</span><a></a></li>
    </ul>
</nav>  
{% endblock %}

{% block content %}
<div class="jumbotron">
Welcome, {{ current_user.first_name }}! You are {% if current_user.USERTYPE.capitalize() != 'Admin' %} a {% else %} an {% endif %} {{ current_user.USERTYPE.lower() }}!

<br>
<a href="{{ url_for('auth.change_password') }}">Change your password</a>
<br>
<a href="{{ url_for('auth.change_secret_question') }}">Change your secret question</a>
<br>

{% if current_user.USERTYPE.capitalize() == 'Admin' %} 
    {% include "auth/admin.html" %}
{% endif %}

{% if current_user.USERTYPE.capitalize() == 'Teacher' %}     
    {% include "auth/teacher.html" %}
{% endif %}

{% if current_user.USERTYPE.capitalize() == 'Student' %} 
    {% include "auth/student.html" %}
{% endif %}

{% if current_user.USERTYPE.capitalize() == 'Parent' %} 
    {% include "auth/parent.html" %}
{% endif %}
</div>
{% endblock %}