{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/error.css') }}">
{% endblock %}

{% block content %}
<div class="status-container">
    <p style="display: none;" id="next-page">{{ url_for(next, _anchor=_anchor) }}</p>
    <div class="container">
        {% if success is in ['True', True, 1] %}
            <img class="rounded" style="max-width: 300px; max-height: 300px;" alt="The form was successfully submitted :)" src="https://images.vexels.com/media/users/3/157931/isolated/preview/604a0cadf94914c7ee6c6e552e9b4487-curved-check-mark-circle-icon-by-vexels.png" id="status-icon" /> 
            <br><h1>Redirecting you to your <a href="{{ url_for(next, _anchor=_anchor) }}">next</a> page in <p id="seconds">5</p> seconds...</h1>
        {% else %}
            <img class="rounded" style="max-width: 300px; max-height: 300px;" alt="There was an error while submitting the form :(" src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-error-icon.png" id="status-icon" />
            <br><h1>Please try again <a href="{{ url_for(next, _anchor=_anchor) }}">here</a> in <p id="seconds">5</p> seconds...</h1>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        window.onload = () => {
            window.setTimeout(() => {
                window.location.href = document.getElementById('next-page').innerHTML;
            }, 5000);
            setInterval(
                () => {
                    document.getElementById('seconds').innerHTML = document.getElementById('seconds').innerHTML - 1;
                },
                1000
            );
        };
    </script>
{% endblock %}